.contactContainer {
  display: flex;
  justify-content: space-between;
}

.contactData {
  text-align: left;
}
.contactName {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 7px;
  margin-bottom: 8px;
  font-size: 20px;
  line-height: normal;
  letter-spacing: -0.15px;
}
.contactPhone {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 7px;
  line-height: normal;
  letter-spacing: -0.15px;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
}
.contactBtnDelete {
  border-radius: 5px;
  background-color: rgb(0, 100, 0, 0.6);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80px;
  height: 30px;
  padding: 5px 8px;
  font-size: 15px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.15px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contactBtnDelete:hover,
.contactBtnDelete:focus {
  background-color: rgba(88, 113, 34);
  box-shadow: 0 1px 10px 0 darkgreen;
  color: wheat;
}
