.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: start; */
  align-items: center;
  gap: 15px;
}
.wrapForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  /* border: 2px solid darkgreen; */
  box-shadow: 0 4px 20px rgba(247, 240, 240, 0.5);
  background-color: rgba(255, 255, 255, 0.04);
  border: 2px solid rgba(10, 13, 23, 0.05);
  border-radius: 20px;
  padding: 20px;
  /* background-color: rgba(219, 173, 229, 0.9); */
}
.wrapInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 5px;
}
.formLabel {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.15px;
  margin-right: 5px;
  color: darkgreen;
}
.formInput {
  height: 30px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.15px;
  border-radius: 5px;
  background-color: rgb(230, 239, 209);
  border: 2px solid rgba(88, 113, 34);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.formInput:hover,
.formInput:focus {
  border-color: rgba(88, 113, 34, 0.8);
  box-shadow: 0 1px 10px 0 darkgreen;
}
.formInputError {
  color: rgb(160, 4, 4);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.15px;
}
.formBtn {
  border-radius: 5px;
  background-color: rgb(0, 100, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  padding: 5px 8px;
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.15px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.formBtn:hover,
.formBtn:focus {
  background-color: rgba(88, 113, 34);
  box-shadow: 0 1px 10px 0 darkgreen;
  color: wheat;
}

.onclic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid wheat;
  border-top-color: #006400;
  animation: rotating 2s linear infinite;
  font-size: 0;
  background-color: rgba(255, 255, 255, 0.04);
}

.validate {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 13px;
  color: wheat;
  background-color: #006400;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
