.homeSection {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 20px rgba(247, 240, 240, 0.5);
  border-radius: 20px;
}

.container {
  display: flex;
  max-width: 850px;
  padding: 50px 80px;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.04);
  border-radius: 20px;
  border: 2px solid rgba(10, 13, 23, 0.05);
}

.title {
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.6px;
  color: #006400;
  margin-bottom: 20px;
}

.text {
  color: #006400;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.16px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-bottom: 20px;
}

.item {
  color: #006400;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.16px;
  display: flex;
  gap: 5px;
  justify-content: start;
  align-items: center;
}

.iconStar {
  color: wheat;
}

.linkRegister {
  color: wheat;
  text-decoration: none;
}

.linkRegister:hover,
.linkRegister:focus {
  color: rgba(88, 113, 34, 0.8);
}
